name: Python package

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install requirements
      run: |
        apt-get update && apt-get upgrade -y
        apt install python3-pip
        pip3 install -U pip
        pip3 install -U -r requirements.txt
    - name: run
      run: |
        python3 -m tech
